# Python

1.Write a program using list comprehension to find primes 
in range 2 to 100.

In [15]:
primes = [num for num in range(2, 101) if all(num % i != 0 for i in range(2, int(num**0.5) + 1))]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

2.Write a function to reverse a string

string='reverse a string'

In [7]:
def reverse_string(string):
    reversed_string = ''
    for i in range(len(string)-1, -1, -1):
        reversed_string += string[i]
    return reversed_string

In [8]:
reverse_string('reverse a string')

'gnirts a esrever'

3.Write a program to extract the words from the given list which have their first character in uppercase. Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']

Output: ['Monday', 'Sunday', 'Saturday'

In [9]:
def extract_words_with_uppercase_first_character(word_list):
    result = []
    for word in word_list:
        if word[0].isupper():
            result.append(word)
    return result

days = ['Monday', 'tuesday', 'friday', 'Sunday', 'Saturday']
result = extract_words_with_uppercase_first_character(days)
print(result)

['Monday', 'Sunday', 'Saturday']

4.Write a program to extract the year part from the dates in 
the given list.

Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']

Output: ['1997','2011','1993','2020']

In [10]:
Batch = ['15-06-1997', '15-06-2011', '15-06-1993', '15-06-2020']
output = []

for date in Batch:
    parts = date.split('-')
    year = parts[2]
    output.append(year)

print(output)

['1997', '2011', '1993', '2020']

5.Write a program swap the keys to values and values to keys of the given dictionary. 

Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} 

Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [11]:
def swap_keys_values(dictionary):
    swapped_dict = {value: key for key, value in dictionary.items()}
    return swapped_dict

module = {'Data Science': 1, 'Machine Learning': 2, 'SQL': 3, 'Big Data': 4}
swapped_module = swap_keys_values(module)
print(swapped_module)

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

6.Write a program to count the number of elements in the string (given by the user) that are not present in the 'my_string'. 

Do not count the white spaces.

my_string = 'Data Science'

In [12]:
user_input = input("Enter a string: ")

# Remove white spaces from the user input
user_input = user_input.replace(" ", "")

# Create a set of unique letters in the string
unique_letters = set(user_input)

# Count the total number of unique letters
count = len(unique_letters)

print("Total number of unique letters:", count)

Enter a string: data science
Total number of unique letters: 8

7.Define a function to check whether a number is in a range (1000,10000) or not.

In [13]:
def check_number_in_range(number):
    if 1000 < number < 10000:
        return True
    else:
        return False

In [14]:
check_number_in_range(200)

False

In [15]:
check_number_in_range(1200)

True

8.Write a program to calculate the sum of all elements in the list.

test_score = [10, 32, 23, 14, 25]

In [16]:
def calculate_sum(lst):
    total = sum(lst)
    return total

test_score = [10, 32, 23, 14, 25]
sum_of_scores = calculate_sum(test_score)
print("Sum:", sum_of_scores)

Sum: 104

9.Replace all even numbers in the array with -1.

Use the array given below num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])

In [13]:
import numpy as np

def replace_even_with_minus_one(arr):
    arr[arr % 2 == 0] = -1
    return arr

num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])
modified_array = replace_even_with_minus_one(num_array)
print("Modified Array:", modified_array)

Modified Array: [-1 21 -1 13 -1 45 -1 -1 -1 -1 65 -1 -1]

10.Find the minimum value along each of the rows. 

Create a 2D Numpy array from list of lists 

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

In [14]:
import numpy as np

Score = np.array([[210, 402, 383], [140, 375, 106], [140, 125, 217], [292, 240, 295]])

min_values = np.min(Score, axis=1)
print("Minimum values along each row:")
print(min_values)

Minimum values along each row:
[210 106 125 240]

Enter String here: pppppppppp

10

Enter a string: bhsg.         dsgfnfhdgrd
Total number of unique letters: 9