# LOAD THE DATASET FROM THE GIVEN BELOW LINK.

https://drive.google.com/file/d/1RWvyhf9AcDZsSB5xVVgzsbHI1m4sFBJf/view?usp=share_link

In [5]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv(r"/Users/Adesh.Bhosale/Desktop/edunoix/chipotle (1).tsv",delimiter='\t')

In [14]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [17]:
df['item_price'].dtype

dtype('O')

In [21]:
df['item_price'] = df['item_price'].str.replace('$', '')

/var/folders/7w/wmkb450x0138h_43rkhcxsxc0000gs/T/ipykernel_31271/834044146.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price'] = df['item_price'].str.replace('$', '')

In [22]:
df['item_price'] = df['item_price'].astype(float)

# USING PANDAS FUNCTION CALCULATE HOW MANY PRODUCTS COSTS MORE THAN $10?

In [23]:
df_cost_more_than_ten=df[df['item_price']>10]

In [24]:
df_cost_more_than_ten

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25

In [28]:
df['quantity'].dtype

dtype('int64')

In [29]:
df['quantity'] = df['quantity'].astype(float)

# What is the price of each item?

In [34]:
df_prize_of_each_item=df['item_price']/df['quantity']

In [35]:
df_prize_of_each_item

0        2.39
1        3.39
2        3.39
3        2.39
4        8.49
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

In [43]:
df_prize_of_each_item[0:]

0        2.39
1        3.39
2        3.39
3        2.39
4        8.49
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

# Which is the Most Expensive Item?

In [45]:
df_prize_of_each_item[0:].max()

11.89

In [54]:
type(df_prize_of_each_item)

pandas.core.series.Series

In [49]:
max_price_row = df_prize_of_each_item.loc[df_prize_of_each_item[0:].idxmax()]

In [50]:
max_price_row

11.89

In [55]:
row_index =df_prize_of_each_item [df_prize_of_each_item == 11.89].index[0]

In [56]:
row_index

281

In [57]:
df.iloc[281]

order_id                                                            123
quantity                                                            2.0
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                        23.78
Name: 281, dtype: object